# Ignore everything
*

# But keep these files
!init.el
!early-init.el
!.mc-lists.el
!disabled.el

# Keep transient folder
!transient/
transient/*
!transient/values.el

# Keep scripts folder (clone-reference-configs.sh etc.)
!scripts/
!scripts/*

# Keep lisp folder (hey-notmuch.el etc.)
!lisp/
!lisp/*

!.claude/
!.claude/*
!.gitignore
!org-showcase.org
